@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Courgette', cursive;
}
body{
    background: linear-gradient(to bottom right, #1a2a6c, #b21f1f, #fdbb2d); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand {
    display: inline-block;
    padding-top: .1125px;
    padding-bottom: .1125px;
    font-size: 1rem;
  }
span{
    cursor: pointer;
}
.carousel{
    margin: 5px;
}
.carousel-item img{
    border-radius: 10px;
    height: 80vh;
}
.modal-dialog,.modal-content{
    
    background:transparent;
}
.modal1{
    justify-content: center;
    text-align: center;
}
.modal1 img{
    width: 200px;
    height: auto;
}
.modal-body img{
    border-radius: 5px;
    width: fit-content;
    height: 70vh;
}
small{
    font-size: .8em;
}
.dropdown-menu{
    background: transparent;
}
.dropdown-menu .dropdown-item{
    color: black;
    text-shadow: 0 0 10px cyan;
}
.dropdown-menu .dropdown-item:hover{
    background: transparent;
    color: aqua;
    font-size: 1.5em;
    text-shadow: 0 0 100px cyan ;
}
